In [166]:
# associationRrule-01.py
import pandas as pd
import mlxtend

# from mlxtend.frequent_patterns import association_rules
#傳入模型的資料需要滿足特定的格式，可以用這種方法來轉換為
# boolean值，也可以用函式轉換為 0、1
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

SyntaxError: invalid syntax (fpcommon.py, line 79)

In [111]:
''' 1.建立資料：'''
dataset = [['牛奶','麵包','餅乾','柳橙汁'],
      ['麵包','餅乾','汽水','泡麵'],
      ['牛奶','餅乾','水果'],
      ['牛奶','麵包','柳橙汁','泡麵','水果'],
      ['餅乾','汽水','水果']]  #List資料結構

# python list 練習

In [112]:
x=[]
for y in dataset:
    x=x+y
x

['牛奶',
 '麵包',
 '餅乾',
 '柳橙汁',
 '麵包',
 '餅乾',
 '汽水',
 '泡麵',
 '牛奶',
 '餅乾',
 '水果',
 '牛奶',
 '麵包',
 '柳橙汁',
 '泡麵',
 '水果',
 '餅乾',
 '汽水',
 '水果']

In [113]:
len(x)

19

In [114]:
y=set(list(x))
len(y)

7

In [115]:
y

{'柳橙汁', '水果', '汽水', '泡麵', '牛奶', '餅乾', '麵包'}

In [148]:
''' 2.轉換為模型可接受的資料格式：'''
#由於 mlxtend的模型只接受特定的資料格式。
# TransactionEncoder()：每個值轉換為一個唯一的 boolean值
oht = TransactionEncoder()  #定義模型物件one-hot-encoding
oht_ary = oht.fit(dataset).transform(dataset)
#顯示：True/False
df = pd.DataFrame(oht_ary, columns=oht.columns_)
df

     柳橙汁     水果     汽水     泡麵     牛奶     餅乾     麵包
0   True  False  False  False   True   True   True
1  False  False   True   True  False   True   True
2  False   True  False  False   True   True  False
3   True   True  False   True   True  False   True
4  False   True   True  False  False   True  False

# 手動計算confidence

# onfidence(牛奶→麵包)=P(麵包|牛奶)=P(牛奶,麵包)/P(牛奶) =(2/5)/(3/5)=2/3=0.667

In [149]:
df2[['牛奶','麵包']]

   牛奶  麵包
0   1   1
1   0   1
2   1   0
3   1   1
4   0   0

In [150]:
df2[['牛奶','麵包']].all(axis=1)

0     True
1    False
2    False
3     True
4    False
dtype: bool

In [151]:
df2[['牛奶','麵包']].all(axis=1).sum()

2

In [152]:
df2[['牛奶','麵包']].all(axis=1).sum()/len(df2)

0.4

In [153]:
df2[df2['牛奶']==1]

   柳橙汁  水果  汽水  泡麵  牛奶  餅乾  麵包
0    1   0   0   0   1   1   1
2    0   1   0   0   1   1   0
3    1   1   0   1   1   0   1

In [154]:
df2[df2['牛奶']==1]['麵包'].sum()

2

In [155]:
df2[df2['牛奶']==1]['麵包'].sum()/len(df2[df2['牛奶']==1])

0.6666666666666666

# #手動計算lift
Lift(牛奶→麵包)=P(麵包|牛奶)/P(麵包) =Confidence(牛奶→麵包)/P(麵包) =(2/3)/(3/5)=1.111

In [156]:
## 所有訂單中購買麵包的機率

In [157]:
df2[['麵包']].sum()/len(df2)

麵包    0.6
dtype: float64

In [158]:
# lift
c=df2[df2['牛奶']==1]['麵包'].sum()/len(df2[df2['牛奶']==1])
s=df2[['麵包']].sum()/len(df2)
c/s

麵包    1.111111
dtype: float64

In [159]:
df2 = pd.DataFrame(oht_ary.astype("int"), columns=oht.columns_)

In [160]:
df2

   柳橙汁  水果  汽水  泡麵  牛奶  餅乾  麵包
0    1   0   0   0   1   1   1
1    0   0   1   1   0   1   1
2    0   1   0   0   1   1   0
3    1   1   0   1   1   0   1
4    0   1   1   0   0   1   0

In [145]:
from apyori import apriori

In [162]:
''' 3.計算頻繁項目集(Frequent_Itemsets)：'''
# use_colnames=True表示使用元素名字，預設的 False使用 Column名代表元素
# max_len=None：最大物品組合數，預設是 None，不做限制。
#如果需要計算最多三個物品組合的話，就將 max_len這個值設置為 3。
frequent_itemsets = apriori(df,
                            min_support=0.4,
                            use_colnames=True,
                            max_len=None)
frequent_itemsets

In [165]:
list(frequent_itemsets)

[]